@font-face {
  font-family: 'LoveloBlack';
  src: url("../fonts/lovelo_black-webfont.eot");
  src: url("../fonts/lovelo_black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lovelo_black-webfont.woff2") format("woff2"), url("../fonts/lovelo_black-webfont.woff") format("woff"), url("../fonts/lovelo_black-webfont.ttf") format("truetype"), url("../fonts/lovelo_black-webfont.svg#loveloblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a:hover, a:link, a:active, a {
  text-decoration: none;
  color: #000;
}

span.fa-circle {
  margin-right: 5px;
  margin-bottom: 30px;
  font-size: 7px;
  color: #9b7e3c;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
}

.intro {
  background: #ccc url("../images/bg-intro.jpg") top center no-repeat;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  height: 100vh;
}
.intro h2 {
  clear: both;
  padding-top: 138px;
  color: white;
  text-transform: uppercase;
  font: 400 58px/0 'LoveloBlack', sans-serif;
}
.intro .name-page {
  display: block;
  font: 400 160px 'LoveloBlack', sans-serif;
  color: white;
}
.intro .fa {
  position: relative;
  padding: 5px 15px;
  font-size: 50px;
  background-color: #9b7e3c;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  opacity: 1;
}

.header {
  margin: 0 auto;
  width: 90%;
}
.header h1 {
  float: left;
  margin: 20px;
  padding: 10px;
  border: 3px solid #dcd9ae;
}
.header .nav {
  padding-top: 30px;
}
.header .nav li {
  float: right;
  padding: 5px;
  margin-right: 15px;
}
.header .nav li a {
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
  color: #fff;
}
.header .nav li:hover {
  border-bottom: 3px solid #fff;
}

.about-us {
  text-align: center;
  margin-bottom: 100px;
}
.about-us h2 {
  margin-top: 50px;
  margin-bottom: 10px;
  font: 400 31px/26px 'LoveloBlack', sans-serif;
  color: #000;
  text-transform: uppercase;
}
.about-us p {
  margin-bottom: 60px;
  font-family: 'PTSans', sans-serif;
  font-size: 18px;
  line-height: 33px;
  color: #999;
}
.about-us .who-we {
  float: left;
  margin-right: 30px;
  height: 350px;
}
.about-us h3 {
  margin-bottom: 20px;
  font-family: 'LoveloBlack', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
  text-transform: uppercase;
  color: #333;
}
.about-us .our-skill {
  text-align: justify;
  margin-bottom: 90px;
}
.about-us .our-skill li {
  margin-bottom: 33px;
}
.about-us .our-skill li .skill-text {
  display: block;
  color: #666;
  font-family: 'PTSans', sans-serif;
  font-size: 14px;
  line-height: 30px;
}
.about-us .our-skill li .progress {
  width: 500px;
  border: 1px solid #dcd9ae;
  background: #fff;
  overflow: hidden;
}
.about-us .our-skill li .progress > .progress-bg {
  display: block;
  height: 20px;
  width: 400px;
  background: #dcd9ae;
}
.about-us .our-skill li:nth-child(2) .progress-bg {
  width: 480px;
}
.about-us .our-skill li:nth-child(3) .progress-bg {
  width: 500px;
}
.about-us .our-skill li:last-child .progress-bg {
  width: 200px;
}
.about-us .btn-work {
  margin-right: 250px;
  padding: 20px 30px;
  color: #999;
  font-family: 'LoveloBlack', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #9f7a40;
}
.about-us .btn-work:hover {
  color: #fff;
  background-color: #9f7a40;
  box-shadow: 3.5px 3.6px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: background-color 1.3s;
}

.laz-works {
  margin-top: 55px;
  text-align: center;
  overflow: hidden;
  background: #ccc url("../images/our-work.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
}
.laz-works h2 {
  margin-top: 70px;
  margin-bottom: 20px;
  font-family: 'LoveloBlack', sans-serif;
  font-size: 62px;
  font-weight: 400;
  line-height: 62px;
  text-transform: uppercase;
}
.laz-works p {
  margin-bottom: 80px;
  font-family: 'PTSans';
  font-size: 36px;
  line-height: 44px;
}
.laz-works .fa {
  font-size: 20px;
  margin-bottom: 80px;
}

.we-do {
  margin-top: 55px;
  text-align: center;
  overflow: hidden;
}
.we-do h2 {
  margin-bottom: 10px;
  color: #333;
  font-family: 'LoveloBlack', sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 26px;
}
.we-do .fa-circle {
  font-size: 7px;
}
.we-do .work li {
  float: left;
  margin-right: 50px;
  width: 250px;
}
.we-do .work li .fa {
  display: block;
  width: 50px;
  margin-bottom: 20px;
  margin-left: 70px;
  padding: 20px;
  text-align: center;
  font-size: 50px;
  color: #9b7e3c;
  background-color: #f7f7f7;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.we-do .work li .fa:hover {
  color: #fff;
  background-color: #9b7e3c;
  box-shadow: -3px 3px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 1.5s;
}
.we-do .work li a {
  color: #9b7e3c;
  font-family: 'LoveloBlack', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}
.we-do .work li p {
  margin-top: 10px;
  color: #333;
  font-family: 'PTSans', sans-serif;
  font-size: 16px;
  line-height: 22px;
}
.we-do .work li:first-child {
  margin-left: 100px;
}

.our-team {
  margin-top: 55px;
  background-color: #ebe9d1;
  text-align: center;
  overflow: hidden;
  /*.bg{
     /* & .fa
      {
          position: absolute;
          margin-bottom: 100px;
          margin-right: 100px;
          margin-left: 50px;
          padding: 50px;
          border-radius: 100px;
          border: 32px solid #dcd9ae;
          color:#dcd9ae;
          font-size: 150px;
          z-ndex:-999;
      }*/
}
.our-team h2 {
  margin-top: 70px;
  margin-bottom: 10px;
  font-family: 'LoveloBlack', sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}
.our-team .fa-circle {
  font-size: 7px;
}
.our-team .team-posit li {
  margin-bottom: 100px;
}
.our-team .team-posit li:nth-child(2n+1) {
  float: left;
  padding: 100px 0 50px;
  background-image: url("../images/Cosmo1.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  text-align: left;
}
.our-team .team-posit li:nth-child(2n+1) .name {
  margin-left: 300px;
  font-family: 'LoveloBlack', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}
.our-team .team-posit li:nth-child(2n+1) .position {
  display: block;
  margin-left: 300px;
  margin-bottom: 20px;
  font-family: 'PTSans', sans-serif;
  font-size: 14px;
  line-height: 22px;
}
.our-team .team-posit li:nth-child(2n+1) p {
  margin-left: 300px;
  font-family: 'PTSans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  width: 230px;
}
.our-team .team-posit li:nth-child(2n) {
  float: right;
  padding: 100px 0 50px;
  background-image: url("../images/Cosmo1.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  text-align: left;
}
.our-team .team-posit li:nth-child(2n) .name {
  margin-left: 300px;
  font-family: 'LoveloBlack', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}
.our-team .team-posit li:nth-child(2n) .position {
  display: block;
  margin-left: 300px;
  margin-bottom: 20px;
  font-family: 'PTSans', sans-serif;
  font-size: 14px;
  line-height: 22px;
}
.our-team .team-posit li:nth-child(2n) p {
  margin-left: 300px;
  font-family: 'PTSans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  width: 230px;
}

.our-work {
  background-color: #9b7e3c;
  text-align: center;
  overflow: hidden;
}
.our-work h2 {
  margin-top: 70px;
  margin-bottom: 10px;
  font-family: 'LoveloBlack', sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
}
.our-work .fa {
  font-size: 7px;
  color: #fff;
}
.our-work .picture-work {
  position: relative;
}
.our-work .picture-work li {
  float: left;
}
.our-work .picture-work li img {
  width: 449px;
  height: 247px;
}
.our-work .picture-work a:hover {
  opacity: 0;
}
.our-work .picture-slide {
  position: absolute;
}
.our-work .picture-slide li {
  float: left;
  width: 439px;
  height: 239px;
  background-color: #9e8243;
  border: 5px solid #dcd9ae;
}
.our-work .picture-slide li .fa {
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 20px;
  background-color: #dcd9ae;
  border-radius: 50px;
}
.our-work .picture-slide li .slide-name {
  display: block;
  margin-bottom: 10px;
  font: bold 18px 'LoveloBlack', sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.our-work .picture-slide li .slide-text {
  font: 14px 'PTSans', sans-serif;
  color: #fff;
}

.us-contact {
  margin-top: 70px;
  text-align: center;
  overflow: hidden;
}
.us-contact h2 {
  margin-bottom: 10px;
  font-family: 'LoveloBlack', sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}
.us-contact iframe {
  margin-top: 50px;
}
.us-contact .metka {
  position: absolute;
  left: 620px;
  margin: 100px 0 50px;
  width: 110px;
  height: 110px;
  background: skyblue;
  border-radius: 100% 100% 0 100%;
  transform: rotateZ(45deg);
}
.us-contact img {
  position: absolute;
  left: 620px;
  margin: 110px 0 50px 10px;
  width: 90px;
  height: 90px;
}

footer {
  text-align: center;
  background-color: #dcd9ae;
  overflow: hidden;
}
footer .footer-social {
  width: 530px;
  margin: 0 auto;
}
footer .footer-social li {
  float: left;
  margin-right: 20px;
  margin-bottom: 30px;
}
footer .footer-social li .fa {
  margin-top: 70px;
  padding: 15px;
  font-size: 30px;
  background-color: #9b7e3c;
  border-radius: 50px;
  color: #d3cd9f;
}
footer .footer-social li:first-child .fa, footer .footer-social li:nth-child(5) .fa {
  padding: 15px 20px;
}
footer p {
  clear: both;
  margin-right: 150px;
  margin-bottom: 50px;
  font: 11px 'PTSans', sans-serif;
  color: #999;
}
footer p .footer-text {
  color: #9b7e3c;
}
