@font-face {
    font-family: 'LoveloBlack';
    src: url('../fonts/lovelo_black-webfont.eot');
    src: url('../fonts/lovelo_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lovelo_black-webfont.woff2') format('woff2'),
         url('../fonts/lovelo_black-webfont.woff') format('woff'),
         url('../fonts/lovelo_black-webfont.ttf') format('truetype'),
         url('../fonts/lovelo_black-webfont.svg#loveloblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@import "compass/reset";
a:hover, a:link, a:active, a
{
    text-decoration: none;
    color: #000;
}
span.fa-circle
{
  margin-right: 5px;
  margin-bottom: 30px;
  font-size: 7px;
  color: #9b7e3c;
}
.wrapper{
        margin: 0 auto;
        width: 1000px;
    }
.intro
{
    background: #ccc url("../images/bg-intro.jpg") top center no-repeat;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    height: 100vh;
    h2
    {
        clear: both;
        padding-top: 138px;
        color: white;
        text-transform: uppercase;
        font:400 58px/0 'LoveloBlack', sans-serif;
        //font-family: 'LoveloBlack', sans-serif;
        //font-size: 58px;
        //font-weight: 400;
    }
    .name-page
    {
        display: block;
        //margin-bottom: 70px;
        font: 400 160px 'LoveloBlack', sans-serif;
        color: white;
        //font-family: 'LoveloBlack', sans-serif;
        //font-size: 160px;
        //font-weight: 400;
    }
    .fa
    {
        position: relative;
        //bottom: 10px;
        //right: 47%;
        padding: 5px 15px;
        font-size: 50px;
        background-color: #9b7e3c;
        border-radius: 50px;
        text-align: center;
        color: #fff;
        opacity: 1;
    }
}
.header
{
    margin: 0 auto;
    width: 90%;
    h1
    {
        float: left;
        margin: 20px;
        padding: 10px;
        border: 3px solid #dcd9ae;
    }
    .nav
    {
        padding-top: 30px;
        li
        {
            float: right;
            padding: 5px;
            margin-right: 15px;
            a
            {
                text-transform: uppercase;
                font-family: 'Helvetica', sans-serif;
                color: #fff; 
            }
            &:hover
            {
                border-bottom: 3px solid #fff;
            }
        } 
    }
}
.about-us
{
    text-align: center;
    margin-bottom: 100px;
    h2
    {
        margin-top: 50px;
        margin-bottom: 10px;
        font: 400 31px/26px 'LoveloBlack', sans-serif;
        //font-family: 'LoveloBlack', sans-serif;
        //font-size: 31px;
        //font-weight: 400;
        //line-height: 26px;
        color: #000;
        text-transform: uppercase;
    }
    //.fa
    //{
       // font-size: 7px;
   // }
    p
    {
        margin-bottom: 60px;
        font-family: 'PTSans', sans-serif;
        font-size: 18px;
        line-height: 33px;
        color: #999;
    }
    .who-we
    {
        float: left;
        margin-right: 30px;
        height: 350px; 
    }
    h3
    {
        margin-bottom: 20px;
        font-family: 'LoveloBlack', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 26px;
        text-align: justify;
        text-transform: uppercase;
        color: #333;
    }
    .our-skill
    {
        text-align: justify;
        margin-bottom: 90px;
        li
        {
            margin-bottom: 33px;
            .skill-text
            {
                display: block;
                color: #666;
                font-family: 'PTSans', sans-serif;
                font-size: 14px;
                line-height: 30px;
            }
            .progress
            {
                width: 500px;
                border: 1px solid #dcd9ae;
                background: #fff;
                overflow: hidden;
                > .progress-bg
                {
                    display: block;
                    height: 20px;
                    width: 400px;
                    background: #dcd9ae;
                }
            }
            //.skills-border
            //{
                //position: relative;
                //width: 500px;
                //height: 15px;
                //border: 1px solid #dcd9ae;
            //}
            //.skills-color
            //{
               // position: absolute;
                //width: 430px;
                //height: 15px;
                //background-color: #dcd9ae;
            //}
           
        }
        li:nth-child(2)
        {
            .progress-bg
            {
                width: 480px;
            }
            //.skills-color
            //{
              // width: 480px; 
            //}
                
        }
        li:nth-child(3)
        {
            .progress-bg
            {
                width: 500px;
            }
            //.skills-color
            //{
              // width: 501px; 
            //}     
        }
        li:last-child
        {
            .progress-bg
            {
                width: 200px;
            }
            //.skills-color
            //{
              // width: 200px; 
            //}     
        }
    }
    .btn-work
    {
        margin-right: 250px;
        padding: 20px 30px; 
        color: #999;
        font-family: 'LoveloBlack', sans-serif;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        border: 1px solid #9f7a40;
        &:hover
        {
            color: #fff;
            background-color: #9f7a40;
            box-shadow: 3.5px 3.6px 0 rgba(0, 0, 0, 0.22);
            cursor: pointer;
            transition: background-color 1.3s; 
        }
    }
    //& .btn-work:hover
    //{
        //color: #fff;
        //background-color: #9f7a40;
        //box-shadow: 3.5px 3.6px 0 rgba(0, 0, 0, 0.22);
        //cursor: pointer;
        //transition: background-color 1.3s;
    //}
}
.laz-works
{ 
   margin-top: 55px;
   text-align: center;
   overflow: hidden;
   background: #ccc url("../images/our-work.jpg") center center no-repeat;
   background-size: cover;
   //background-color: #271c03;
   color: #fff;
    h2{
        margin-top: 70px;
        margin-bottom:20px;
        font-family: 'LoveloBlack', sans-serif;
        font-size: 62px;
        font-weight: 400;
        line-height: 62px;
        text-transform: uppercase;
    }
    p{
        margin-bottom: 80px;
        font-family: 'PTSans';
        font-size: 36px;
        line-height: 44px;
    }
    .fa
    {
        font-size: 20px;
        margin-bottom: 80px;
    }
}
.we-do
{
   margin-top: 55px;
   text-align: center;
   overflow: hidden;
    h2
    {
        margin-bottom: 10px;
        color: #333;
        font-family: 'LoveloBlack', sans-serif;
        font-size: 31px;
        font-weight: 400;
        line-height: 26px;
    }
    .fa-circle
    {
        font-size: 7px;
    }
    .work
    {
        li{
            float:left;
            margin-right: 50px;
            width: 250px;
            
                .fa
                {
                    display: block;
                    width: 50px;
                    margin-bottom: 20px;
                    margin-left: 70px;
                    padding: 20px;
                    text-align: center;
                    font-size: 50px;
                    color: #9b7e3c;
                    background-color: #f7f7f7;
                    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
                    border-radius: 50px;
                    &:hover
                    {
                        color: #fff;
                        background-color:#9b7e3c;
                        box-shadow: -3px 3px 0 rgba(0, 0, 0, 0.1);
                        transition: background-color 1.5s;
                    }
                }
                //& .fa:hover
                //{
                    //color: #fff;
                    //background-color:#9b7e3c;
                    //box-shadow: -3px 3px 0 rgba(0, 0, 0, 0.1);
                    //transition: background-color 1.5s;
               // }
                a
                {
                    color: #9b7e3c;
                    font-family: 'LoveloBlack', sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 26px;
                    text-transform: uppercase;
                }
                p
                {
                    margin-top: 10px;
                    color: #333;
                    font-family: 'PTSans', sans-serif;
                    font-size: 16px;
                    line-height: 22px;
                }
        }
        li:first-child
        {
            margin-left: 100px;
        }
    }
}
 
.our-team
{
   margin-top: 55px;
   background-color: #ebe9d1;
   text-align: center;
   overflow: hidden;
    /*.bg{
       /* & .fa
        {
            position: absolute;
            margin-bottom: 100px;
            margin-right: 100px;
            margin-left: 50px;
            padding: 50px;
            border-radius: 100px;
            border: 32px solid #dcd9ae;
            color:#dcd9ae;
            font-size: 150px;
            z-ndex:-999;
        }*/
    //}
    h2
    {
        margin-top: 70px;
        margin-bottom: 10px;
        font-family: 'LoveloBlack', sans-serif;
        font-size: 31px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
    }
    .fa-circle
    {
        font-size: 7px;
    }
    .team-posit
    {
        li{
            margin-bottom: 100px;
        }
        & li:nth-child(2n+1)
        {
            float:left;
            padding: 100px 0 50px;
            background-image: url("../images/Cosmo1.png");
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain; 
            text-align: left;
            .name
            {
                margin-left: 300px;
                font-family: 'LoveloBlack', sans-serif;
                font-size: 18px;
                font-weight: bold;
                line-height: 26px;
                text-transform: uppercase;
            }
            .position
            {
                display:block;
                margin-left: 300px;
                margin-bottom: 20px;
                font-family: 'PTSans', sans-serif;
                font-size: 14px;
                line-height: 22px;
            }
            p
            {
                margin-left: 300px;
                font-family: 'PTSans', sans-serif;
                font-size: 14px;
                line-height: 22px;
                width: 230px;
            }
        }
        & li:nth-child(2n)
        {
            float:right;
            padding: 100px 0 50px;
            background-image: url("../images/Cosmo1.png");
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain; 
            text-align: left;
            .name
            {
                margin-left: 300px;
                font-family: 'LoveloBlack', sans-serif;
                font-size: 18px;
                font-weight: bold;
                line-height: 26px;
                text-transform: uppercase;
            }
            .position
            {
                display:block;
                margin-left: 300px;
                margin-bottom: 20px;
                font-family: 'PTSans', sans-serif;
                font-size: 14px;
                line-height: 22px;
            }
            p
            {
                margin-left: 300px;
                font-family: 'PTSans', sans-serif;
                font-size: 14px;
                line-height: 22px;
                width: 230px;
            }
        }
    }
  
}
.our-work
{
   background-color: #9b7e3c;
   text-align: center;
   overflow: hidden;
  h2
    {
        margin-top: 70px;
        margin-bottom: 10px;
        font-family: 'LoveloBlack', sans-serif;
        font-size: 31px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        color: #fff;
    }
    .fa
    {
        font-size: 7px;
        color: #fff;
    }
    .picture-work
    {
        position: relative;
        li
        {
            float: left;
           img
            {
                width: 449px;
                height: 247px;
            }
        }
        & a:hover
        {
            opacity: 0;
        }
    }
    .picture-slide
    {
        position: absolute;
        li{
            float: left;
            width: 439px;
            height: 239px;
            background-color: #9e8243;
            border: 5px solid #dcd9ae;
                .fa
                {
                    margin-top: 60px;
                    margin-bottom: 20px;
                    padding: 20px;
                    font-size: 20px;
                    background-color: #dcd9ae;
                    border-radius: 50px;
                }
                .slide-name
                {
                    display: block;
                      margin-bottom: 10px;
                      font: bold 18px 'LoveloBlack', sans-serif;
                      color: #fff;
                      text-transform: uppercase;
                }
                .slide-text
                {
                    font: 14px 'PTSans', sans-serif;
                    color: #fff;
                }
        }
    }
}
.us-contact
{
    margin-top: 70px;
    text-align: center;
    overflow: hidden;
    h2{
        margin-bottom: 10px;
        font-family: 'LoveloBlack', sans-serif;
        font-size: 31px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
    }
    //.fa
    //{
        //font-size: 7px;
    //}
    iframe
    {
        margin-top: 50px;
    }
    .metka{
          position: absolute;
          left: 620px;
        margin: 100px 0 50px;
          width: 110px;
          height: 110px;
          background: skyblue;
          border-radius: 100% 100% 0 100%;
          transform: rotateZ(45deg);
        //.dot
        //{
            //position: absolute;
            //right: 550px;
            //font-size: 510px;
            //width: 110px;
            //height: 110px;
            //margin: 80px 50px 30px;
            //background: #9b7e3c;
            //border-radius: 100% 100% 0 100%;
            //transform: rotateZ(45deg);
            //color: #ccc;
        //}
        
        //.fa-circle
        //{
         //position: relative;
         //bottom: 0;
         //width: 100px;
          //height: 100px;
          //margin: 80px 50px 30px;
          //background: #9b7e3c;
          //border-radius: 100% 100% 0 100%;
          //transform: rotateZ(45deg);
        //}
    }
    img
    {
        position: absolute;
        left: 620px;
        margin: 110px 0 50px 10px;
        width: 90px;
        height: 90px; 
    }
}
footer
{
    text-align: center;
    background-color: #dcd9ae;
    overflow: hidden;
    .footer-social
    {
        width: 530px;
        margin: 0 auto;
        
        li
        {
            float: left;
            margin-right: 20px;
            margin-bottom: 30px;
            .fa
            {
                margin-top: 70px;
                padding: 15px;
                font-size: 30px;
                background-color: #9b7e3c;
                border-radius: 50px;
                color: #d3cd9f;
            }
        }
        & li:first-child .fa, & li:nth-child(5) .fa
        {
            padding: 15px 20px;
        }
    }
    p
    {
        clear: both;
        margin-right: 150px;
        margin-bottom: 50px;
        font: 11px 'PTSans', sans-serif;
        color: #999;
        .footer-text
        {
            color: #9b7e3c;
        } 
    }
    
    //.fa
    //{
       // margin-top: 70px;
        //margin-right: 20px;
        //padding: 20px;
        //font-size: 30px;
        //background-color: #9b7e3c;
        //border-radius: 50px;
        //color: #d3cd9f;
        //&:hover
        //{
            //background-color: #d3cd9f;
            //color: #9b7e3c;
       // }
        //.fa-facebook
        //{
            //padding: 20px 40px;
        //}
    //}
    //p
    //{
        //margin-top: 50px;
        //font-family: 'PTSans', sans-serif;
        //font-size: 15px;
        //line-height: 19px;
        //color: #999;
        //.footer-text
        //{
            //color: #9b7e3c;
        //}
    //}
}